<h1>Update Your QR Code Link</h1>

<%= form_with model: @order, url: update_qr_order_path(@order), method: :patch, local: true do |form| %>
  <div>
    <%= form.label :qr_code_url, "New QR Code Destination URL" %><br>
    <%= form.text_field :qr_code_url, required: true %>
  </div>
  <div>
    <%= form.submit "Update QR Code" %>
  </div>
<% end %>
